<div>{{games}}</div>
<form name="$parent.newGame" class="form" ng-if="isLoggedIn()">
  <div class="form-group">
    <label>Add New Game</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Game name" ng-model="newGame.name" required/>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addGame()" ng-disabled="$parent.newGame.$invalid">
          <i class="fa fa-plus"></i>
        </button>
      </span>
    </div>
  </div>
</form>
